.Rproj.user
.Rhistory
.RData
.Ruserdata
Datos/
mdt_3035_expandido.tif
MDT25_espana_3035.tif
DatosMDT/Capasfinales/Pendiente/Andalucía/Alhama_de_Granada.geojson
DatosMDT/Capasfinales/Pendiente/Andalucía/Almería.geojson
DatosMDT/Capasfinales/Pendiente/Andalucía/Andújar.geojson
DatosMDT/Capasfinales/Pendiente/Andalucía/Baza.geojson
DatosMDT/Capasfinales/Pendiente/Andalucía/Córdoba.geojson
DatosMDT/Capasfinales/Pendiente/Andalucía/Espiel.geojson
DatosMDT/Capasfinales/Pendiente/Andalucía/Hornachuelos.geojson
DatosMDT/Capasfinales/Pendiente/Andalucía/Jerez_de_la_Frontera.geojson
DatosMDT/Capasfinales/Pendiente/Andalucía/Montoro.geojson
DatosMDT/Capasfinales/Pendiente/Andalucía/Santiago-Pontones.geojson
DatosMDT/Capasfinales/Pendiente/Andalucía/Segura_de_la_Sierra.geojson
DatosMDT/Capasfinales/Pendiente/Andalucía/Villaviciosa_de_Córdoba.geojson
DatosMDT/Capasfinales/Pendiente/Aragón/Albarracín.geojson
DatosMDT/Capasfinales/Pendiente/Aragón/Jaca.geojson
DatosMDT/Capasfinales/Pendiente/Aragón/Sabiñánigo.geojson
DatosMDT/Capasfinales/Pendiente/Aragón/Zaragoza.geojson
DatosMDT/Capasfinales/Pendiente/Asturias/Tineo.geojson
DatosMDT/Capasfinales/Pendiente/Castilla-La Mancha/Alcaraz.geojson
DatosMDT/Capasfinales/Pendiente/Castilla-La Mancha/Almodóvar_del_Campo.geojson
DatosMDT/Capasfinales/Pendiente/Castilla-La Mancha/Cuenca.geojson
DatosMDT/Capasfinales/Pendiente/Castilla-La Mancha/Huete.geojson
DatosMDT/Capasfinales/Pendiente/Castilla y León/Soria.geojson
DatosMDT/Capasfinales/Pendiente/Comunidad Valenciana/Requena.geojson
DatosMDT/Capasfinales/Pendiente/Extremadura/Alcántara.geojson
DatosMDT/Capasfinales/Pendiente/Extremadura/Badajoz.geojson
DatosMDT/Capasfinales/Pendiente/Extremadura/Cáceres.geojson
DatosMDT/Capasfinales/Pendiente/Extremadura/Trujillo.geojson
DatosMDT/Capasfinales/Pendiente/Murcia/Lorca.geojson
DatosMDT/Capasfinales/Pendiente/Murcia/Moratalla.geojson