.Rproj.user
.Rhistory
.RData
.Ruserdata
Datos/
mdt_3035_expandido.tif
MDT25_espana_3035.tif
Capasfinales/Pendiente/Andalucía/Alhama_de_Granada.geojson
Capasfinales/Pendiente/Andalucía/Almería.geojson
Capasfinales/Pendiente/Andalucía/Andújar.geojson
Capasfinales/Pendiente/Andalucía/Baza.geojson
Capasfinales/Pendiente/Andalucía/Córdoba.geojson
Capasfinales/Pendiente/Andalucía/Espiel.geojson
Capasfinales/Pendiente/Andalucía/Hornachuelos.geojson
Capasfinales/Pendiente/Andalucía/Jerez_de_la_Frontera.geojson
Capasfinales/Pendiente/Andalucía/Montoro.geojson
Capasfinales/Pendiente/Andalucía/Santiago-Pontones.geojson
Capasfinales/Pendiente/Andalucía/Segura_de_la_Sierra.geojson
Capasfinales/Pendiente/Andalucía/Villaviciosa_de_Córdoba.geojson
Capasfinales/Pendiente/Aragón/Albarracín.geojson
Capasfinales/Pendiente/Aragón/Jaca.geojson
Capasfinales/Pendiente/Aragón/Sabiñánigo.geojson
Capasfinales/Pendiente/Aragón/Zaragoza.geojson
Capasfinales/Pendiente/Asturias/Tineo.geojson
Capasfinales/Pendiente/Castilla-La Mancha/Alcaraz.geojson
Capasfinales/Pendiente/Castilla-La Mancha/Almodóvar_del_Campo.geojson
Capasfinales/Pendiente/Castilla-La Mancha/Cuenca.geojson
Capasfinales/Pendiente/Castilla-La Mancha/Huete.geojson
Capasfinales/Pendiente/Castilla y León/Soria.geojson
Capasfinales/Pendiente/Comunidad Valenciana/Requena.geojson
Capasfinales/Pendiente/Extremadura/Alcántara.geojson
Capasfinales/Pendiente/Extremadura/Badajoz.geojson
Capasfinales/Pendiente/Extremadura/Cáceres.geojson
Capasfinales/Pendiente/Extremadura/Trujillo.geojson
Capasfinales/Pendiente/Murcia/Lorca.geojson
Capasfinales/Pendiente/Murcia/Moratalla.geojson